<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyACNnIzTCVC-61MxI2UIjdwImssjeRkEkk</string>
	<key>GCM_SENDER_ID</key>
	<string>878645308246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myfrstapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>myfrstapp-d5fad</string>
	<key>STORAGE_BUCKET</key>
	<string>myfrstapp-d5fad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:878645308246:ios:e60ec368909b51c7c8c4f7</string>
</dict>
</plist>